In [1]:
import numpy as np
import pandas as pd
import yfinance as yf  # for ingesting data from Yahoo Finance
import sqlite3  # for ingesting data from SQL

def ingest_ohlc_data(data_source):
    if data_source == "CSV":
        df = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\Assignment\GOOGL_ohlc_data.csv")

    elif data_source == "JSON":
        # Get symbol OHLC data
        df = yf.download("CL=F")

    elif data_source == "SQL":
        engine = sqlite3.connect("stock_data.db")
        df = pd.read_sql("SELECT * FROM ohlc_data", engine)

    data_check(df)

    return df

def data_check(data):
    
    assert not data.empty, "DataFrame is empty. Please check the data source."

    num_missing_values = data.isna().sum().sum()
    assert num_missing_values == 0, f"There are {num_missing_values} missing values in the data."

    assert data["Open"].dtype == np.float64, "Data type for Open needs to be float64."
    assert data["High"].dtype == np.float64, "Data type for High needs to be float64."
    assert data["Low"].dtype == np.float64, "Data type for Low needs to be float64."
    assert data["Close"].dtype == np.float64, "Data type for Close needs to be float64."

    print("Data integrity is valid. No missing values or type inconsistencies detected.")
    print("\n")

df = ingest_ohlc_data("CSV")
print(df)

Data integrity is valid. No missing values or type inconsistencies detected.


           Date        Open        High         Low       Close   Adj Close  \
0    2023-01-03   89.589996   91.050003   88.519997   89.120003   89.120003
1    2023-01-04   90.349998   90.650002   87.269997   88.080002   88.080002
2    2023-01-05   87.470001   87.570000   85.900002   86.199997   86.199997
3    2023-01-06   86.790001   87.690002   84.860001   87.339996   87.339996
4    2023-01-09   88.360001   90.050003   87.860001   88.019997   88.019997
..          ...         ...         ...         ...         ...         ...
245  2023-12-22  140.770004  141.990005  140.710007  141.490005  141.490005
246  2023-12-26  141.589996  142.679993  141.190002  141.520004  141.520004
247  2023-12-27  141.589996  142.080002  139.889999  140.369995  140.369995
248  2023-12-28  140.779999  141.139999  139.750000  140.229996  140.229996
249  2023-12-29  139.630005  140.360001  138.779999  139.690002  139.690002

       Volume
0    28131200
1    34854800
2    27194400
3    41381500
4    29003900
..        ...
245  26514600
246  16780300
247  19628600
248  16045700
249  18727200

[250 rows x 7 columns]

In [5]:
import pandas as pd
import numpy as np

def outlier_handling(df, column_with_outliers):
    q1 = df[column_with_outliers].quantile(0.25)
    q3 = df[column_with_outliers].quantile(0.75)
    iqr = q3 - q1
    # Remove outliers
    df = df[(df[column_with_outliers] > (q1 - 1.5 * iqr)) & (df[column_with_outliers] < (q3 + 1.5 * iqr))]
    return df

def date_formatting(df, column_with_date):
    # format date column
    df[column_with_date] = pd.to_datetime(df[column_with_date], format='%Y-%m-%d')
    return df

def remove_missing_values(df):
    # Remove rows with missing values
    df.dropna(inplace=True)
    return df

def ohlc_data_cleaning_pipeline(df_path, column_with_outliers, column_with_date):
    df = pd.read_csv(df_path)
    print('Before cleaning:')
    print(df.head())
    
    df_no_outliers = outlier_handling(df, column_with_outliers)
    df_date_formatted = date_formatting(df_no_outliers, column_with_date)
    clean_df = remove_missing_values(df_date_formatted)
    
    print('\nAfter cleaning:')
    print(clean_df.head())
    
    return clean_df

clean_df = ohlc_data_cleaning_pipeline(r"C:\Users\Hp\OneDrive\Desktop\Assignment\GOOGL_ohlc_data.csv", 'Close', 'Date')

Before cleaning:
         Date       Open       High        Low      Close  Adj Close    Volume
0  2023-01-03  89.589996  91.050003  88.519997  89.120003  89.120003  28131200
1  2023-01-04  90.349998  90.650002  87.269997  88.080002  88.080002  34854800
2  2023-01-05  87.470001  87.570000  85.900002  86.199997  86.199997  27194400
3  2023-01-06  86.790001  87.690002  84.860001  87.339996  87.339996  41381500
4  2023-01-09  88.360001  90.050003  87.860001  88.019997  88.019997  29003900

After cleaning:
        Date       Open       High        Low      Close  Adj Close    Volume
0 2023-01-03  89.589996  91.050003  88.519997  89.120003  89.120003  28131200
1 2023-01-04  90.349998  90.650002  87.269997  88.080002  88.080002  34854800
2 2023-01-05  87.470001  87.570000  85.900002  86.199997  86.199997  27194400
3 2023-01-06  86.790001  87.690002  84.860001  87.339996  87.339996  41381500
4 2023-01-09  88.360001  90.050003  87.860001  88.019997  88.019997  29003900

In [6]:
import pandas as pd

def calculate_sma(data, window=20):
  
    return data['Close'].rolling(window=window).mean()

def calculate_bollinger_bands(data, window=20, num_std=2):
    
    sma = data['Close'].rolling(window=window).mean()
    std = data['Close'].rolling(window=window).std()
    upper_band = sma + (num_std * std)
    lower_band = sma - (num_std * std)
    return upper_band, lower_band

def calculate_rsi(data, window=14):
    
    delta = data['Close'].diff()
    gain = (delta.where(delta > 0, 0)).rolling(window=window).mean()
    loss = (-delta.where(delta < 0, 0)).rolling(window=window).mean()
    rs = gain / loss
    rsi = 100 - (100 / (1 + rs))
    return rsi


# Calculate SMA with a window of 20 days
df['SMA_20'] = calculate_sma(df, window=20)

# Calculate Bollinger Bands with a window of 20 days and 2 standard deviations
upper_band, lower_band = calculate_bollinger_bands(df, window=20, num_std=2)
df['Upper_BB'] = upper_band
df['Lower_BB'] = lower_band

# Calculate RSI with a window of 14 days
df['RSI_14'] = calculate_rsi(df, window=14)

# Print DataFrame with calculated indicators
print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2023-01-03   89.589996   91.050003   88.519997   89.120003   89.120003
1    2023-01-04   90.349998   90.650002   87.269997   88.080002   88.080002
2    2023-01-05   87.470001   87.570000   85.900002   86.199997   86.199997
3    2023-01-06   86.790001   87.690002   84.860001   87.339996   87.339996
4    2023-01-09   88.360001   90.050003   87.860001   88.019997   88.019997
..          ...         ...         ...         ...         ...         ...
245  2023-12-22  140.770004  141.990005  140.710007  141.490005  141.490005
246  2023-12-26  141.589996  142.679993  141.190002  141.520004  141.520004
247  2023-12-27  141.589996  142.080002  139.889999  140.369995  140.369995
248  2023-12-28  140.779999  141.139999  139.750000  140.229996  140.229996
249  2023-12-29  139.630005  140.360001  138.779999  139.690002  139.690002

       Volume      SMA_20    Upper_BB    Lower_BB     RSI_14
0    28131200         NaN         NaN         NaN        NaN
1    34854800         NaN         NaN         NaN        NaN
2    27194400         NaN         NaN         NaN        NaN
3    41381500         NaN         NaN         NaN        NaN
4    29003900         NaN         NaN         NaN        NaN
..        ...         ...         ...         ...        ...
245  26514600  134.540501  141.223106  127.857897  75.206283
246  16780300  134.796001  142.137800  127.454203  73.348125
247  19628600  134.954501  142.643486  127.265517  72.767252
248  16045700  135.216501  143.259530  127.173472  60.338351
249  18727200  135.574501  143.750340  127.398662  66.140085

[250 rows x 11 columns]

In [7]:
import pandas as pd
import numpy as np

def calculate_volatility_measures(data, window=20):
    """
    Calculate volatility measures such as standard deviation and ATR.
    """
    # Standard Deviation
    data['Std_Dev'] = data['Close'].rolling(window=window).std()

    # Average True Range (ATR)
    high_low_range = data['High'] - data['Low']
    high_close_range = np.abs(data['High'] - data['Close'].shift())
    low_close_range = np.abs(data['Low'] - data['Close'].shift())
    true_range = pd.concat([high_low_range, high_close_range, low_close_range], axis=1).max(axis=1)
    data['ATR'] = true_range.rolling(window=window).mean()

    return data

def calculate_price_patterns(data, short_window=12, long_window=26, signal_window=9):
    """
    Calculate price patterns such as MACD and EMA.
    """
    # Moving Average Convergence Divergence (MACD)
    data['EMA_short'] = data['Close'].ewm(span=short_window, min_periods=1).mean()
    data['EMA_long'] = data['Close'].ewm(span=long_window, min_periods=1).mean()
    data['MACD'] = data['EMA_short'] - data['EMA_long']
    data['Signal_line'] = data['MACD'].ewm(span=signal_window, min_periods=1).mean()

    # Exponential Moving Average (EMA)
    data['EMA_9'] = data['Close'].ewm(span=9, min_periods=1).mean()

    return data

# Calculate volatility measures
df = calculate_volatility_measures(df)

# Calculate price patterns
df = calculate_price_patterns(df)

# Print DataFrame with calculated features
print(df)

           Date        Open        High         Low       Close   Adj Close  \
0    2023-01-03   89.589996   91.050003   88.519997   89.120003   89.120003
1    2023-01-04   90.349998   90.650002   87.269997   88.080002   88.080002
2    2023-01-05   87.470001   87.570000   85.900002   86.199997   86.199997
3    2023-01-06   86.790001   87.690002   84.860001   87.339996   87.339996
4    2023-01-09   88.360001   90.050003   87.860001   88.019997   88.019997
..          ...         ...         ...         ...         ...         ...
245  2023-12-22  140.770004  141.990005  140.710007  141.490005  141.490005
246  2023-12-26  141.589996  142.679993  141.190002  141.520004  141.520004
247  2023-12-27  141.589996  142.080002  139.889999  140.369995  140.369995
248  2023-12-28  140.779999  141.139999  139.750000  140.229996  140.229996
249  2023-12-29  139.630005  140.360001  138.779999  139.690002  139.690002

       Volume      SMA_20    Upper_BB    Lower_BB     RSI_14   Std_Dev  \
0    28131200         NaN         NaN         NaN        NaN       NaN
1    34854800         NaN         NaN         NaN        NaN       NaN
2    27194400         NaN         NaN         NaN        NaN       NaN
3    41381500         NaN         NaN         NaN        NaN       NaN
4    29003900         NaN         NaN         NaN        NaN       NaN
..        ...         ...         ...         ...        ...       ...
245  26514600  134.540501  141.223106  127.857897  75.206283  3.341302
246  16780300  134.796001  142.137800  127.454203  73.348125  3.670899
247  19628600  134.954501  142.643486  127.265517  72.767252  3.844492
248  16045700  135.216501  143.259530  127.173472  60.338351  4.021514
249  18727200  135.574501  143.750340  127.398662  66.140085  4.087919

          ATR   EMA_short    EMA_long      MACD  Signal_line       EMA_9
0         NaN   89.120003   89.120003  0.000000     0.000000   89.120003
1         NaN   88.556669   88.580002 -0.023333    -0.012963   88.542224
2         NaN   87.636859   87.724889 -0.088030    -0.043728   87.582295
3         NaN   87.543151   87.617290 -0.074139    -0.054030   87.500216
4         NaN   87.672708   87.710679 -0.037971    -0.049253   87.654839
..        ...         ...         ...       ...          ...         ...
245  3.219500  136.427576  134.977291  1.450285     0.586783  137.131553
246  3.172999  137.211026  135.461936  1.749090     0.819245  138.009243
247  3.190999  137.697021  135.825496  1.871525     1.029701  138.481393
248  3.087999  138.086710  136.151755  1.934955     1.210752  138.831114
249  2.953499  138.333370  136.413848  1.919523     1.352506  139.002892

[250 rows x 18 columns]

In [8]:
import pandas as pd

def resample_ohlc_data(data, frequency='H'):
    """
    Resample OHLC data based on desired frequency.
    """
    # Set the 'Date' column as the index
    data['Date'] = pd.to_datetime(data['Date'])
    data.set_index('Date', inplace=True)

    # Resample OHLC data
    resampled_data = data.resample(frequency).agg({
        'Open': 'first',
        'High': 'max',
        'Low': 'min',
        'Close': 'last',
        'Volume': 'sum'
    })

    return resampled_data


# Resample OHLC data from daily to hourly frequency
hourly_data = resample_ohlc_data(df, frequency='H')

# Print resampled DataFrame
print(hourly_data)

                           Open        High         Low       Close    Volume
Date
2023-01-03 00:00:00   89.589996   91.050003   88.519997   89.120003  28131200
2023-01-03 01:00:00         NaN         NaN         NaN         NaN         0
2023-01-03 02:00:00         NaN         NaN         NaN         NaN         0
2023-01-03 03:00:00         NaN         NaN         NaN         NaN         0
2023-01-03 04:00:00         NaN         NaN         NaN         NaN         0
...                         ...         ...         ...         ...       ...
2023-12-28 20:00:00         NaN         NaN         NaN         NaN         0
2023-12-28 21:00:00         NaN         NaN         NaN         NaN         0
2023-12-28 22:00:00         NaN         NaN         NaN         NaN         0
2023-12-28 23:00:00         NaN         NaN         NaN         NaN         0
2023-12-29 00:00:00  139.630005  140.360001  138.779999  139.690002  18727200

[8641 rows x 5 columns]

In [11]:
import numpy as np
import pandas as pd
import yfinance as yf  # for ingesting data from Yahoo Finance
import sqlite3  # for ingesting data from SQL
import unittest

def ingest_ohlc_data(data_source):
    if data_source == "CSV":
        df = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\Assignment\GOOGL_ohlc_data.csv")

    elif data_source == "JSON":
        # Get symbol OHLC data
        df = yf.download("CL=F")

    elif data_source == "SQL":
        engine = sqlite3.connect("stock_data.db")
        df = pd.read_sql("SELECT * FROM ohlc_data", engine)

    return df

class TestDataIngestion(unittest.TestCase):

    def test_csv_ingestion(self):
        df = ingest_ohlc_data("CSV")
        self.assertIsNotNone(df)
        self.assertIsInstance(df, pd.DataFrame)

    # Add more tests for JSON and SQL ingestion if needed

class TestDataCheck(unittest.TestCase):

    def setUp(self):
        self.df = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\Assignment\GOOGL_ohlc_data.csv")

    def test_data_check_not_empty(self):
        data_check(self.df)
        self.assertFalse(self.df.empty)

    def test_data_check_no_missing_values(self):
        data_check(self.df)
        self.assertEqual(self.df.isna().sum().sum(), 0)

    def test_data_check_dtypes(self):
        data_check(self.df)
        self.assertEqual(self.df["Open"].dtype, np.float64)
        self.assertEqual(self.df["High"].dtype, np.float64)
        self.assertEqual(self.df["Low"].dtype, np.float64)
        self.assertEqual(self.df["Close"].dtype, np.float64)

def outlier_handling(df, column_with_outliers):
    q1 = df[column_with_outliers].quantile(0.25)
    q3 = df[column_with_outliers].quantile(0.75)
    iqr = q3 - q1
    # Remove outliers
    df = df[(df[column_with_outliers] > (q1 - 1.5 * iqr)) & (df[column_with_outliers] < (q3 + 1.5 * iqr))]
    return df

def date_formatting(df, column_with_date):
    # format date column
    df[column_with_date] = pd.to_datetime(df[column_with_date], format='%Y-%m-%d')
    return df

def remove_missing_values(df):
    # Remove rows with missing values
    df.dropna(inplace=True)
    return df

class TestDataCleaningPipeline(unittest.TestCase):

    def setUp(self):
        self.df = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\Assignment\GOOGL_ohlc_data.csv")

    def test_outlier_handling(self):
        df_cleaned = outlier_handling(self.df, 'Close')
        self.assertEqual(len(self.df), len(df_cleaned))

    def test_date_formatting(self):
        df_formatted = date_formatting(self.df, 'Date')
        self.assertTrue(isinstance(df_formatted['Date'].iloc[0], pd.Timestamp))

    def test_remove_missing_values(self):
        df_no_missing = remove_missing_values(self.df)
        self.assertEqual(len(df_no_missing), len(self.df) - self.df.isna().sum().sum())

unittest.main(argv=[''], verbosity=2, exit=False)

test_data_check_dtypes (__main__.TestDataCheck) ... ok
test_data_check_no_missing_values (__main__.TestDataCheck) ... ok

Data integrity is valid. No missing values or type inconsistencies detected.


Data integrity is valid. No missing values or type inconsistencies detected.

test_data_check_not_empty (__main__.TestDataCheck) ...

Data integrity is valid. No missing values or type inconsistencies detected.

ok
test_date_formatting (__main__.TestDataCleaningPipeline) ... ok
test_outlier_handling (__main__.TestDataCleaningPipeline) ... ok
test_remove_missing_values (__main__.TestDataCleaningPipeline) ... ok
test_csv_ingestion (__main__.TestDataIngestion) ... ok
test_correct_outliers (__main__.TestDataPipeline) ... ok
test_detect_outliers_iqr (__main__.TestDataPipeline) ... ok

----------------------------------------------------------------------
Ran 9 tests in 0.879s

OK

In [12]:
import logging

# Configure logging
logging.basicConfig(level=logging.INFO)

def ingest_ohlc_data(data_source):
    try:
        if data_source == "CSV":
            df = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\Assignment\GOOGL_ohlc_data.csv")
        elif data_source == "JSON":
            # Get symbol OHLC data
            df = yf.download("CL=F")
        elif data_source == "SQL":
            engine = sqlite3.connect("stock_data.db")
            df = pd.read_sql("SELECT * FROM ohlc_data", engine)

        data_check(df)
        logging.info("Data ingestion successful.")
        return df

    except Exception as e:
        logging.error("Error during data ingestion: %s", e)
        raise

def data_check(data):
    try:
        assert not data.empty, "DataFrame is empty. Please check the data source."
        num_missing_values = data.isna().sum().sum()
        assert num_missing_values == 0, f"There are {num_missing_values} missing values in the data."
        assert data["Open"].dtype == np.float64, "Data type for Open needs to be float64."
        assert data["High"].dtype == np.float64, "Data type for High needs to be float64."
        assert data["Low"].dtype == np.float64, "Data type for Low needs to be float64."
        assert data["Close"].dtype == np.float64, "Data type for Close needs to be float64."
        logging.info("Data integrity check passed.")

    except AssertionError as ae:
        logging.warning("Data quality issue: %s", ae)
        raise


try:
    df = ingest_ohlc_data("CSV")
except Exception as e:
    logging.error("Pipeline failed with error: %s", e)

INFO:root:Data integrity check passed.
INFO:root:Data ingestion successful.

In [13]:
import pandas as pd
import numpy as np
import yfinance as yf
import sqlite3

def ingest_ohlc_data(data_source, db_file):
    if data_source == "CSV":
        df = pd.read_csv(r"C:\Users\Hp\OneDrive\Desktop\Assignment\GOOGL_ohlc_data.csv")

    elif data_source == "JSON":
        # Get symbol OHLC data
        df = yf.download("CL=F")

    elif data_source == "SQL":
        engine = sqlite3.connect(db_file)
        df = pd.read_sql("SELECT * FROM ohlc_data", engine)

    data_check(df)

    return df

def data_check(data):
    assert not data.empty, "DataFrame is empty. Please check the data source."

    num_missing_values = data.isna().sum().sum()
    assert num_missing_values == 0, f"There are {num_missing_values} missing values in the data."

    assert data["Open"].dtype == np.float64, "Data type for Open needs to be float64."
    assert data["High"].dtype == np.float64, "Data type for High needs to be float64."
    assert data["Low"].dtype == np.float64, "Data type for Low needs to be float64."
    assert data["Close"].dtype == np.float64, "Data type for Close needs to be float64."

    print("Data integrity is valid. No missing values or type inconsistencies detected.")

def save_to_sqlite(data, db_file, table_name='ohlc_data'):
    engine = sqlite3.connect(db_file)
    data.to_sql(table_name, engine, if_exists='replace', index=False)

# Example usage
db_file = 'ohlc_data.db'
df = ingest_ohlc_data("CSV", db_file)
save_to_sqlite(df, db_file)

Data integrity is valid. No missing values or type inconsistencies detected.

In [14]:
import pandas as pd

def partition_data(data):
    
    # Convert the 'Date' column to datetime if it's not already in datetime format
    data['Date'] = pd.to_datetime(data['Date'])

    # Extract year and month from the 'Date' column
    data['Year'] = data['Date'].dt.year
    data['Month'] = data['Date'].dt.month

    # Group the data by year and month
    grouped_data = data.groupby(['Year', 'Month'])

    return grouped_data

# Partition the data
partitioned_data = partition_data(df)

# Iterate over each partition and print the first few rows
for (year, month), partition in partitioned_data:
    print(f"Year: {year}, Month: {month}")
    print(partition.head())
    print("\n")

Year: 2023, Month: 1
        Date       Open       High        Low      Close  Adj Close    Volume  \
0 2023-01-03  89.589996  91.050003  88.519997  89.120003  89.120003  28131200
1 2023-01-04  90.349998  90.650002  87.269997  88.080002  88.080002  34854800
2 2023-01-05  87.470001  87.570000  85.900002  86.199997  86.199997  27194400
3 2023-01-06  86.790001  87.690002  84.860001  87.339996  87.339996  41381500
4 2023-01-09  88.360001  90.050003  87.860001  88.019997  88.019997  29003900

   Year  Month
0  2023      1
1  2023      1
2  2023      1
3  2023      1
4  2023      1


Year: 2023, Month: 2
         Date        Open        High         Low       Close   Adj Close  \
20 2023-02-01   98.709999  101.190002   97.580002  100.430000  100.430000
21 2023-02-02  105.800003  107.849998  105.610001  107.739998  107.739998
22 2023-02-03  102.930000  107.809998  102.580002  104.779999  104.779999
23 2023-02-06  102.400002  104.360001  101.879997  102.900002  102.900002
24 2023-02-07  103.220001  108.180000  103.120003  107.639999  107.639999

      Volume  Year  Month
20  35531100  2023      2
21  69883800  2023      2
22  65309300  2023      2
23  31999600  2023      2
24  49010200  2023      2


Year: 2023, Month: 3
         Date       Open       High        Low      Close  Adj Close  \
39 2023-03-01  89.980003  91.029999  89.669998  90.360001  90.360001
40 2023-03-02  89.660004  92.279999  89.589996  92.000000  92.000000
41 2023-03-03  92.480003  93.730003  92.449997  93.650002  93.650002
42 2023-03-06  94.019997  95.970001  94.000000  95.129997  95.129997
43 2023-03-07  94.980003  95.669998  93.529999  93.860001  93.860001

      Volume  Year  Month
39  31111200  2023      3
40  32204400  2023      3
41  35160100  2023      3
42  32639300  2023      3
43  27835500  2023      3


Year: 2023, Month: 4
         Date        Open        High         Low       Close   Adj Close  \
62 2023-04-03  102.389999  104.529999  101.930000  104.360001  104.360001
63 2023-04-04  104.330002  105.580002  104.040001  104.720001  104.720001
64 2023-04-05  105.779999  106.099998  103.660004  104.470001  104.470001
65 2023-04-06  105.260002  109.169998  104.330002  108.419998  108.419998
66 2023-04-10  106.980003  107.589996  105.120003  106.440002  106.440002

      Volume  Year  Month
62  25035400  2023      4
63  24420100  2023      4
64  28290500  2023      4
65  48711500  2023      4
66  27067400  2023      4


Year: 2023, Month: 5
         Date        Open        High         Low       Close   Adj Close  \
81 2023-05-01  106.839996  107.989998  106.820000  107.199997  107.199997
82 2023-05-02  107.139999  107.199997  103.709999  105.320000  105.320000
83 2023-05-03  105.529999  107.489998  104.959999  105.410004  105.410004
84 2023-05-04  105.489998  105.599998  103.970001  104.690002  104.690002
85 2023-05-05  104.820000  105.879997  104.110001  105.570000  105.570000

      Volume  Year  Month
81  26681700  2023      5
82  30997200  2023      5
83  21795400  2023      5
84  23419500  2023      5
85  26625100  2023      5


Year: 2023, Month: 6
          Date        Open        High         Low       Close   Adj Close  \
103 2023-06-01  122.820000  124.419998  122.620003  123.720001  123.720001
104 2023-06-02  123.989998  126.150002  123.760002  124.669998  124.669998
105 2023-06-05  124.010002  127.430000  123.839996  126.010002  126.010002
106 2023-06-06  126.010002  128.289993  125.360001  127.309998  127.309998
107 2023-06-07  126.970001  129.039993  122.120003  122.500000  122.500000

       Volume  Year  Month
103  30772700  2023      6
104  26963100  2023      6
105  32305500  2023      6
106  26638300  2023      6
107  52539000  2023      6


Year: 2023, Month: 7
          Date        Open        High         Low       Close   Adj Close  \
124 2023-07-03  119.239998  120.190002  118.820000  119.900002  119.900002
125 2023-07-05  119.239998  122.610001  119.230003  121.750000  121.750000
126 2023-07-06  119.800003  120.300003  118.400002  120.110001  120.110001
127 2023-07-07  120.099998  121.050003  119.400002  119.480003  119.480003
128 2023-07-10  118.300003  118.309998  116.139999  116.449997  116.449997

       Volume  Year  Month
124  14467900  2023      7
125  27584800  2023      7
126  24745200  2023      7
127  21692600  2023      7
128  35315200  2023      7


Year: 2023, Month: 8
          Date        Open        High         Low       Close   Adj Close  \
144 2023-08-01  130.779999  132.630005  130.679993  131.550003  131.550003
145 2023-08-02  129.449997  130.089996  127.559998  128.380005  128.380005
146 2023-08-03  127.970001  129.389999  127.419998  128.449997  128.449997
147 2023-08-04  129.279999  131.509995  127.910004  128.110001  128.110001
148 2023-08-07  129.160004  131.610001  129.020004  131.529999  131.529999

       Volume  Year  Month
144  23166800  2023      8
145  26273300  2023      8
146  20089500  2023      8
147  26130000  2023      8
148  22746300  2023      8


Year: 2023, Month: 9
          Date        Open        High         Low       Close   Adj Close  \
167 2023-09-01  137.460007  137.460007  134.850006  135.660004  135.660004
168 2023-09-05  135.440002  136.419998  134.580002  135.770004  135.770004
169 2023-09-06  136.020004  136.529999  133.669998  134.460007  134.460007
170 2023-09-07  133.589996  135.580002  132.949997  135.259995  135.259995
171 2023-09-08  134.910004  136.660004  134.850006  136.380005  136.380005

       Volume  Year  Month
167  21524600  2023      9
168  19403100  2023      9
169  18684500  2023      9
170  18844300  2023      9
171  23558300  2023      9


Year: 2023, Month: 10
          Date        Open        High         Low       Close   Adj Close  \
187 2023-10-02  131.210007  134.419998  131.169998  134.169998  134.169998
188 2023-10-03  133.940002  134.259995  131.839996  132.429993  132.429993
189 2023-10-04  132.789993  135.570007  132.529999  135.240005  135.240005
190 2023-10-05  135.070007  135.490005  133.449997  135.070007  135.070007
191 2023-10-06  134.009995  138.160004  134.009995  137.580002  137.580002

       Volume  Year  Month
187  22288000  2023     10
188  22989400  2023     10
189  26752300  2023     10
190  19832600  2023     10
191  27583200  2023     10


Year: 2023, Month: 11
          Date        Open        High         Low       Close   Adj Close  \
209 2023-11-01  124.070000  126.489998  123.720001  126.449997  126.449997
210 2023-11-02  128.419998  128.979996  126.930000  127.489998  127.489998
211 2023-11-03  128.020004  129.529999  127.860001  129.100006  129.100006
212 2023-11-06  129.050003  130.339996  128.669998  130.250000  130.250000
213 2023-11-07  130.710007  131.910004  129.880005  130.970001  130.970001

       Volume  Year  Month
209  30082400  2023     11
210  27124600  2023     11
211  26380100  2023     11
212  19052700  2023     11
213  29757300  2023     11


Year: 2023, Month: 12
          Date        Open        High         Low       Close   Adj Close  \
230 2023-12-01  131.860001  132.110001  130.669998  131.860001  131.860001
231 2023-12-04  129.880005  130.029999  127.900002  129.270004  129.270004
232 2023-12-05  128.949997  132.139999  128.250000  130.990005  130.990005
233 2023-12-06  131.440002  131.839996  129.880005  130.020004  130.020004
234 2023-12-07  135.039993  138.559998  134.699997  136.929993  136.929993

       Volume  Year  Month
230  31431200  2023     12
231  36669900  2023     12
232  27384800  2023     12
233  23576200  2023     12
234  56767100  2023     12

In [17]:
import pandas as pd

# Convert DataFrame to Parquet format
df.to_parquet('ohlc_data.parquet', compression='snappy')

# Read Parquet file
parquet_data = pd.read_parquet('ohlc_data.parquet')

# Print DataFrame from Parquet file
print(parquet_data)

          Date        Open        High         Low       Close   Adj Close  \
0   2023-01-03   89.589996   91.050003   88.519997   89.120003   89.120003
1   2023-01-04   90.349998   90.650002   87.269997   88.080002   88.080002
2   2023-01-05   87.470001   87.570000   85.900002   86.199997   86.199997
3   2023-01-06   86.790001   87.690002   84.860001   87.339996   87.339996
4   2023-01-09   88.360001   90.050003   87.860001   88.019997   88.019997
..         ...         ...         ...         ...         ...         ...
245 2023-12-22  140.770004  141.990005  140.710007  141.490005  141.490005
246 2023-12-26  141.589996  142.679993  141.190002  141.520004  141.520004
247 2023-12-27  141.589996  142.080002  139.889999  140.369995  140.369995
248 2023-12-28  140.779999  141.139999  139.750000  140.229996  140.229996
249 2023-12-29  139.630005  140.360001  138.779999  139.690002  139.690002

       Volume  Year  Month
0    28131200  2023      1
1    34854800  2023      1
2    27194400  2023      1
3    41381500  2023      1
4    29003900  2023      1
..        ...   ...    ...
245  26514600  2023     12
246  16780300  2023     12
247  19628600  2023     12
248  16045700  2023     12
249  18727200  2023     12

[250 rows x 9 columns]